
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container{
    border: 1px solid gray;
    width: 95%;
    height: 100%;

}
header{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.add{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
    

.add input{
    border-radius: 10px;
    width: 500px;

}
.add span{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;

}
.task-list{
    width: 95%;
    margin-left: 10px;
    table-layout: auto;
}
.checkboxCell, .task, .delete, .edit{
    border: 1px solid gray;

}
.delete{
    color: aliceblue;
    background-color: red;
    padding-left: 10px;
}
.edit{
    color: aliceblue;
    background-color: blue;
    padding-left: 10px;
}
